.button {
    background: #222260;
    color: white;
    padding: 8px 18px;
    border: none;
}

.button:hover {
    background: #35357c;
    border: none;
    color: white;
}

.more_skill {
    background-color: rgb(211 220 227);
    margin-bottom: 5px;
}

.more_skill:hover {
    background-color: rgb(212 227 239);
    border-radius: 5px;
    color: rgb(26, 145, 240);
}

.step_icon {
    color: #35357c;
    font-size: 25px;
    margin-right: 15px;
    border-radius: 50%;
}

.percent_skills {
    display: flex;
    flex-flow: row wrap;
    transition: opacity 0.14s ease 0s;
    padding: 12px 20px;
}

.percent_skills_title {
    flex: 0 0 50%;
    display: block;
    padding: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
}

.percent_skills_title a {
    color: black;
    text-decoration: none;
}

.content_pop {
    font-weight: 500;
    max-width: 700px;
    transition: transform 0.14s ease 0s;
    transform-origin: 50% 0px;
}

.point {
    color: green;
}

.style_input {
    position: relative;
    display: flex;
    flex-direction: row;
    font-weight: 700;
    width: 45%;
    margin-right: 25px;
    border-radius: 2px;
    padding: 1rem 1rem 1rem;
    background: rgb(234 247 247 / 18%);
}

.style_input input {
    vertical-align: middle;
    border: none;
    background-color: inherit;
    outline: none;
    width: 100%;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #222260;
    font-weight: 600;
}

.style_input::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: #222260;
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
    animation: gradient 3s linear infinite;
}

.style_select {
    position: relative;
    color: #222260;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 20px;
    margin-right: 25px;
    border-radius: 2px;
    background: rgb(234 247 247 / 18%);
}

.style_select select {
    background-color: inherit;
    padding: 1rem 1rem 0.9rem;
    border: none;
}

.style_select:focus-visible {
    border: none;
    outline: none;
}

.style_select::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: #222260;
    background-size: 500% auto;
    -webkit-animation: gradient 3s linear infinite;
    animation: gradient 3s linear infinite;
}

.inputTest {
    display: flex;
    width: 45%;
    flex-direction: column;
}

.inputTest label {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 13px;
    color: #4a4b7d;
}

.inputTest input {
    color: #0f1054;
    border: none;
    background-color: inherit;
}

.input_style {
    display: flex;
    padding: 8px 10px;
    justify-content: space-between;
    border-radius: 5px;
    background: #f5f1ff42;
    border: 1px solid #222260;
}

.input_style_error {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #fef1f2;
    border: 1px solid #e36c77;
}

.inputTest input:focus-visible {
    outline: none;
}

.select_style {
    width: 258px;
    border-radius: 5px;
    background: #f5f1ff42;
    border: 1px solid #222260;
    padding: 10px 10px;
    color: #0f1054;
}

.select_style:focus-visible {
    outline: none;
}

.skill_content {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

.skill {
    border: 1px solid rgb(231, 234, 244);
    border-radius: 4px;
    width: 760px;
    background: rgb(255, 255, 255);
    position: relative;
}

.skill_name {
    display: flex;
    padding: 10px 20px 20px;
    width: 100%;
}

.skill_name label {
    color: rgb(130, 139, 162);
}

.inputSkill_name {
    width: 45%;
    margin-right: 25px;
}


/* lưu ý sửa cái này */

.skill_content:hover h6 {
    color: rgb(26, 145, 240) !important;
}

.inputSkill_name input {
    border-radius: 3px;
    padding: 12px 16px;
    width: 100%;
    display: block;
    caret-color: rgb(26, 145, 240);
    background-color: rgb(239, 242, 249);
    outline: none;
    border: 0px;
    color: rgb(30, 37, 50);
    pointer-events: unset;
    transition: color 0.1s ease 0s;
}

.delete_skill {
    position: absolute;
    opacity: 1;
    left: 115%;
    top: 45%;
    margin-left: 8px;
    margin-top: -10px;
}

.level_skill_button {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 46px;
    border-radius: 4px;
    background-color: rgba(254, 125, 139, 0.1);
    transition: background-color 0.2s ease 0s;
    transform: translateZ(0px);
    pointer-events: auto;
}

.level_skill_button_2 {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 46px;
    border-radius: 4px;
    background-color: rgba(246, 133, 89, 0.1);
    transition: background-color 0.2s ease 0s;
    transform: translateZ(0px);
    pointer-events: auto;
}

.level_skill_button_3 {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 46px;
    border-radius: 4px;
    background-color: rgba(249, 186, 68, 0.1);
    transition: background-color 0.2s ease 0s;
    transform: translateZ(0px);
    pointer-events: auto;
}

.level_skill_button_4 {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 46px;
    border-radius: 4px;
    background-color: rgba(72, 186, 117, 0.1);
    transition: background-color 0.2s ease 0s;
    transform: translateZ(0px);
    pointer-events: auto;
}

.level_skill_button_5 {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 46px;
    border-radius: 4px;
    background-color: rgba(155, 161, 251, 0.1);
    transition: background-color 0.2s ease 0s;
    transform: translateZ(0px);
    pointer-events: auto;
}

.level_skill_item input {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    pointer-events: none;
}

.level_skill_item {
    display: inline-block;
    -webkit-box-flex: 1;
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
    background-color: inherit;
}

.level_skill_item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: -1px;
    height: 100%;
    background-color: rgb(254, 125, 139);
    opacity: 0;
    transition: opacity 0.1s ease 0s;
    border-radius: 4px;
}

.level_skill_item::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: rgb(254, 125, 139);
    opacity: 0.4;
}

.level_skill_item_2 {
    display: inline-block;
    -webkit-box-flex: 1;
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
    background-color: inherit;
}

.level_skill_item_2::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: -1px;
    height: 100%;
    background-color: rgb(246, 133, 89);
    opacity: 0;
    transition: opacity 0.1s ease 0s;
    border-radius: 4px;
}

.level_skill_item_2::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: rgb(246, 133, 89);
    opacity: 0.4;
}

.level_skill_item_3 {
    display: inline-block;
    -webkit-box-flex: 1;
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
    background-color: inherit;
}

.level_skill_item_3::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: -1px;
    height: 100%;
    background-color: rgb(249, 186, 68);
    opacity: 0;
    transition: opacity 0.1s ease 0s;
    border-radius: 4px;
}

.level_skill_item_3::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: rgb(249, 186, 68);
    opacity: 0.4;
}

.level_skill_item_4 {
    display: inline-block;
    -webkit-box-flex: 1;
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
    background-color: inherit;
}

.level_skill_item_4::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: -1px;
    height: 100%;
    background-color: rgb(72, 186, 117);
    opacity: 0;
    transition: opacity 0.1s ease 0s;
    border-radius: 4px;
}

.level_skill_item_4::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: rgb(72, 186, 117);
    opacity: 0.4;
}

.level_skill_item_5 {
    display: inline-block;
    -webkit-box-flex: 1;
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
    background-color: inherit;
}

.level_skill_item_5::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: -1px;
    height: 100%;
    background-color: rgb(155, 161, 251);
    opacity: 0;
    transition: opacity 0.1s ease 0s;
    border-radius: 4px;
}

.level_skill_item_5::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: rgb(155, 161, 251);
    opacity: 0.4;
}

.button_level {
    width: 20%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    will-change: transform, opacity;
    opacity: 1;
}

.button_level::before {
    content: "";
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0px;
    height: 100%;
    border-radius: 4px;
    transition: background-color 0.2s ease 0s;
    background-color: rgb(254, 125, 139);
}

.button_level_2 {
    width: 20%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    will-change: transform, opacity;
    opacity: 1;
}

.button_level_2::before {
    content: "";
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0px;
    height: 100%;
    border-radius: 4px;
    transition: background-color 0.2s ease 0s;
    background-color: rgb(246, 133, 89);
}

.button_level_3 {
    width: 20%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    will-change: transform, opacity;
    opacity: 1;
}

.button_level_3::before {
    content: "";
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0px;
    height: 100%;
    border-radius: 4px;
    transition: background-color 0.2s ease 0s;
    background-color: rgb(249, 186, 68);
}

.button_level_4 {
    width: 20%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    will-change: transform, opacity;
    opacity: 1;
}

.button_level_4::before {
    content: "";
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0px;
    height: 100%;
    border-radius: 4px;
    transition: background-color 0.2s ease 0s;
    background-color: rgb(72, 186, 117);
}

.button_level_5 {
    width: 20%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    will-change: transform, opacity;
    opacity: 1;
}

.button_level_5::before {
    content: "";
    position: absolute;
    left: -3px;
    right: -3px;
    top: 0px;
    height: 100%;
    border-radius: 4px;
    transition: background-color 0.2s ease 0s;
    background-color: rgb(155, 161, 251);
}

.level_skill {
    width: 50%;
}

.level_text {
    color: rgb(254, 125, 139);
}

.level_text_2 {
    color: rgb(246, 133, 89);
}

.level_text_3 {
    color: rgb(249, 186, 68);
}

.level_text_4 {
    color: rgb(72, 186, 117);
}

.level_text_5 {
    color: rgb(155, 161, 251);
}

.drag_button {
    position: absolute;
    right: 101%;
    top: 50%;
    margin-right: 3px;
    margin-top: -10px;
}